:root {
    --primary-color: rgba(18, 109, 255);
    --heading-font-family: "Playfair Display",
        serif;
    --p-font-family: "Raleway", sans-serif;
}

body{
    font-family: var(--p-font-family);
    background:#fef1e6 ;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
section.gallery {
    margin: 20px;
    border: 1px solid #0098df;
    border-radius: 30px;
}
.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-columns{
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-narrow{
    grid-template-columns: 1fr 2fr 2fr;
}

.embed {
    width: 100%;
    border-radius: 5px;
}

.shadow {
    box-shadow: -11px 10px 32px 5px #988f7f96;
    border-radius: 15px;
}
.card {
    background: white;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: -11px 10px 32px 5px #988f7f96;
}

.card-heading {
    grid-gap: 1px;
}
.card-body {
  padding: 35px;  
}

.card-footer {
    padding: 0px 30px 40px 30px;
}


.btn:hover{
    color: #fef1e6;
    background-color:#1f84f753;
    border: 1px solid #0098df;
}
.btn {
    display: block;
    color: white;
    background-color: #0098dfb5;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    text-decoration: none;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 20px ;

}
.img-responsive {
    width: 100%;
    display: block;
    border-radius: 5px;
}



header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/tatry-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: var(--heading-font-family);
    padding: 180px 0;
}
 header h1{
    font-family:var(--heading-font-family);
    font-size: 94px;
    font-weight:700 ;
    line-height: 1;
    margin: 30px 5px;
}

header h2{
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 4px;
    margin: 0;
    color: rgb(226, 237, 255);
}

header h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
    color: rgb(226, 237, 255);
}

header a {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;

    text-align: center;
    color: var(--primary-color);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background:rgb(215, 231, 255);
    border: 4px solid rgba(255, 255, 255, 0.2);
    padding: 12px 24px;
    display: inline-block;
    margin-top: 60px;
    border-radius: 5px;
}

.tatry-photo {
    max-width: 100%;
    border-radius:150px 150px 10px 150px;
    box-shadow: -11px 15px 32px 5px #988f7f96;
    margin: 0 auto;
}

main {
    background-color: white;
    
}

main h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    color: var(--primary-color);
    opacity: 0.4;
    text-transform: uppercase;
    margin: 0;
    
}

main h3{
    font-weight: 800;
    font-size: 40px;
    margin: 0 0 50px 0;
    line-height:1.5;
    color: var(--primary-color);
    font-family: var(--heading-font-family);
}

main h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #0098df;
    margin: 0;
}

main h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 3px;
    color: #0098df;
    margin: 0;
}

main p{
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
}

section {
    max-width: 100%;
    margin: 0;
    padding: 100px;
}

section.secondary {
background-color: #fef1e6;

}


footer{
    color:#fef1e6;
    background-image: linear-gradient(rgba(0, 90, 102, 0.9), rgba(0, 90, 102, 0.9)), url("../img/tatry-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:0 20px;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.9;
}

footer ul{
    margin: 0;
    padding: 0;
    
}

footer li{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    
}

footer a {
    color: #fef1e6;
    opacity: 0.7;
}

@media (max-width: 960px){
    header {
        padding: 60px 0;
    }

   header h1 {
        font-size: 44px;
    }

   header h2 {
        font-size: 20px;
    }

   header h3{
        font-size: 12px;
    }

    .card-heading img {
        display: none;
    }


    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
.embed {
    aspect-ratio: 16/9;
}
    .grid-3-columns {
        grid-template-columns: 1fr;
    }

    section {
        padding: 30px;
    }

    .tatry-photo {
        transform: scale(0.9);
        
    }

    footer h3 {
        font-size: 15px;
    }

   footer, footer p, a, ul {
        font-size: 12px;
    }

}